ul {
    list-style-type: none;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

form {
    padding: 20px;
    border-radius: 5px;
    background-color: lightgrey;
}

div {
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
}

footer {
    text-align: right;
}
